In [1]:
import pandas as pd
import numpy as np

In [2]:
INPUT_PATH = '../input/'
OUTPUT_PATH = '../output/'

users = pd.read_csv(INPUT_PATH + 't_user.csv')
orders = pd.read_csv(INPUT_PATH + 't_order.csv')
loans = pd.read_csv(INPUT_PATH + 't_loan.csv')
loans_sum = pd.read_csv(INPUT_PATH + 't_loan_sum.csv')
clicks = pd.read_csv(INPUT_PATH + 't_click.csv')

loans.loan_amount = 5**loans.loan_amount
loans_sum.loan_sum  = 5 ** loans_sum.loan_sum

In [3]:
loans['Date'] = pd.to_datetime(loans['loan_time'], errors='coerce')
loans['transaction_month'] = loans['Date'].dt.month
loan_of_nov = loans.loc[loans.transaction_month==11].groupby(by='uid', as_index=False).sum()

loan_of_nov.merge(loans_sum, how='left', on='uid')

         uid   loan_amount  plannum  transaction_month    month      loan_sum
0          4   2001.000000        3                 11  2016-11   2001.000000
1          5  40000.999999       12                 11  2016-11  40000.999999
2          6  24000.999998        6                 11  2016-11  24000.999998
3         17   9001.000000       12                 11  2016-11   9001.000000
4         19  13000.999999       12                 11  2016-11  13000.999999
5         23    501.000000        1                 11  2016-11    501.000000
6         39   6607.000000       84                 77  2016-11   6601.000000
7         43   5001.000000        1                 11  2016-11   5001.000000
8         45  25003.000001        3                 33  2016-11  25000.999999
9         56  50001.000003        1                 11  2016-11  50001.000003
10        57  10001.000000        1                 11  2016-11  10001.000000
11        60   5001.000000        6                 11  2016-11   5001.000000
12        61   3001.000000        1                 11  2016-11   3001.000000
13        64    501.000000       12                 11  2016-11    501.000000
14        68  11002.000000       18                 22  2016-11  11001.000001
15        70  20000.999999        6                 11  2016-11  20000.999999
16        71   1001.000000        6                 11  2016-11   1001.000000
17        72   2602.000000       24                 22  2016-11   2601.000000
18        73   5505.000000       60                 55  2016-11   5501.000000
19        79    501.000000        1                 11  2016-11    501.000000
20        80   5001.000000        3                 11  2016-11   5001.000000
21        81   9001.000000        1                 11  2016-11   9001.000000
22        87  14005.000000       12                 55  2016-11  14001.000000
23        89   4603.000000       36                 33  2016-11   4601.000000
24        92   3002.000000        7                 22  2016-11   3001.000000
25       100  25000.999999        1                 11  2016-11  25000.999999
26       104   4001.000000        1                 11  2016-11   4001.000000
27       109   7001.000000        1                 11      NaN           NaN
28       115  26001.000000        1                 11  2016-11  26001.000000
29       116  52005.000001       20                 55  2016-11  51000.999996
...      ...           ...      ...                ...      ...           ...
19490  90833  49233.000000       33                363  2016-11  47000.999998
19491  90836   3001.000000        1                 11  2016-11   3001.000000
19492  90846   5903.000000        3                 33  2016-11   5901.000000
19493  90847  20002.000001        2                 22  2016-11  20000.999999
19494  90852   2203.000000        3                 33  2016-11   2201.000000
19495  90853  19000.999999       12                 11  2016-11  19000.999999
19496  90856  21001.000000        1                 11  2016-11  21001.000000
19497  90862  22001.000002        6                 11  2016-11  22001.000002
19498  90865   6001.000000        1                 11  2016-11   6001.000000
19499  90876  77015.000001       15                165  2016-11  50001.000003
19500  90886  10001.000000        1                 11  2016-11  10001.000000
19501  90892   5001.000000        6                 11  2016-11   5001.000000
19502  90893  33002.000002        2                 22  2016-11  33001.000002
19503  90903  44007.000001        7                 77  2016-11  44001.000003
19504  90905  16000.999999        6                 11  2016-11  16000.999999
19505  90908  26001.999998        2                 22  2016-11  26001.000000
19506  90910  10001.000000        1                 11  2016-11  10001.000000
19507  90916  13002.000001        2                 22  2016-11  13000.999999
19508  90918  10002.000000        2                 22  2016-11  10001.000000
19509  90930    501.000000        6                 11  2016-11    501.000000
19510  90933    501.000000        1                 11  2016-11    501.000000
19511  90942  24511.000000       18                121  2016-11  24501.000001
19512  90950   1001.000000        3                 11  2016-11   1001.000000
19513  90956  50001.000003        1                 11  2016-11  50001.000003
19514  90969  10001.000000        1                 11  2016-11  10001.000000
19515  90971   6002.000000        4                 22  2016-11   6001.000000
19516  90972   3001.000000       12                 11  2016-11   3001.000000
19517  90989  14001.000000        6                 11  2016-11  14001.000000
19518  90990  25010.999999       77                121  2016-11  25000.999999
19519  90991  86002.000007        2                 22  2016-11  86000.999996

[19520 rows x 6 columns]